<div class="main-container">
  <app-header></app-header>
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">
          <input id="tabexample2" type="checkbox" />
          <label for="tabexample2">Categories</label>
          <ul class="nav-list">
            <li>
              <a
                class="nav-link"
                [class.active]="getActive('/launches')"
                (click)="onClick('/launches')"
              >
                launches
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                [class.active]="getActive('/timelines')"
                (click)="onClick('/timelines')"
              >
                timelines
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                [class.active]="getActive('/histories')"
                (click)="onClick('/histories')"
              >
                histories
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                [class.active]="getActive('/launchpads')"
                (click)="onClick('/launchpads')"
              >
                launchpads
              </a>
            </li>
          </ul>
        </section>
      </section>
    </nav>
    <div class="content-area">
      <ng-content></ng-content>
      <app-footer></app-footer>
    </div>
  </div>
<div>
