{
  "openapi": "3.0.0",
  "info": {
    "title": "SpaceX REST API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.spacex.land"
    }
  ],
  "paths": {
    "/rest/capsule/{id}": {
      "get": {
        "description": "get capsule",
        "operationId": "capsuleQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get capsule successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capsule"
                }
              }
            }
          }
        }
      }
    },
    "/rest/capsules": {
      "get": {
        "description": "get capsules",
        "operationId": "capsulesQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CapsulesFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get capsules successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Capsule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/capsules-past": {
      "get": {
        "description": "get capsules-past",
        "operationId": "capsulesPastQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CapsulesFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get capsules-past successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Capsule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/capsules-upcoming": {
      "get": {
        "description": "get capsules-upcoming",
        "operationId": "capsulesUpcomingQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CapsulesFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get capsules-upcoming successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Capsule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/company": {
      "get": {
        "description": "get company",
        "operationId": "companyQuery",
        "parameters": [],
        "responses": {
          "200": {
            "description": "get company successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Info"
                }
              }
            }
          }
        }
      }
    },
    "/rest/core/{id}": {
      "get": {
        "description": "get core",
        "operationId": "coreQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get core successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Core"
                }
              }
            }
          }
        }
      }
    },
    "/rest/cores": {
      "get": {
        "description": "get cores",
        "operationId": "coresQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CoresFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get cores successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Core"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/cores-past": {
      "get": {
        "description": "get cores-past",
        "operationId": "coresPastQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CoresFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get cores-past successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Core"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/cores-upcoming": {
      "get": {
        "description": "get cores-upcoming",
        "operationId": "coresUpcomingQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CoresFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get cores-upcoming successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Core"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/dragon/{id}": {
      "get": {
        "description": "get dragon",
        "operationId": "dragonQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get dragon successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dragon"
                }
              }
            }
          }
        }
      }
    },
    "/rest/dragons": {
      "get": {
        "description": "get dragons",
        "operationId": "dragonsQuery",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get dragons successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dragon"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/histories": {
      "get": {
        "description": "get histories",
        "operationId": "historiesQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/HistoryFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get histories successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/History"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/histories-result": {
      "get": {
        "description": "get histories-result",
        "operationId": "historiesResultQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/HistoryFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get histories-result successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoriesResult"
                }
              }
            }
          }
        }
      }
    },
    "/rest/history/{id}": {
      "get": {
        "description": "get history",
        "operationId": "historyQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get history successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/History"
                }
              }
            }
          }
        }
      }
    },
    "/rest/landpad/{id}": {
      "get": {
        "description": "get landpad",
        "operationId": "landpadQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get landpad successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Landpad"
                }
              }
            }
          }
        }
      }
    },
    "/rest/landpads": {
      "get": {
        "description": "get landpads",
        "operationId": "landpadsQuery",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get landpads successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Landpad"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/launch/{id}": {
      "get": {
        "description": "get lanch",
        "operationId": "launchQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get lanch successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launch"
                }
              }
            }
          }
        }
      }
    },
    "/rest/launch-latest": {
      "get": {
        "description": "get lanch-latest",
        "operationId": "launchLatestQuery",
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get lanch-latest successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launch"
                }
              }
            }
          }
        }
      }
    },
    "/rest/launch-next": {
      "get": {
        "description": "get lanch-next",
        "operationId": "launchNextQuery",
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get lanch-next successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launch"
                }
              }
            }
          }
        }
      }
    },
    "/rest/launches": {
      "get": {
        "description": "get launches",
        "operationId": "launchesQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LaunchFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get launches successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/launches-past": {
      "get": {
        "description": "get launches-past",
        "operationId": "launchesPastQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LaunchFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get launches-past successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/launches-past-result": {
      "get": {
        "description": "get launches-past-result",
        "operationId": "launchesPastResultQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LaunchFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get launches-past-result successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaunchesPastResult"
                }
              }
            }
          }
        }
      }
    },
    "/rest/launches-upcoming": {
      "get": {
        "description": "get launches-upcoming",
        "operationId": "launchesUpcomingQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LaunchFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get launches-upcoming successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/launchpad/{id}": {
      "get": {
        "description": "get launchpad",
        "operationId": "launchpadQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get launchpad successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launchpad"
                }
              }
            }
          }
        }
      }
    },
    "/rest/launchpads": {
      "get": {
        "description": "get launchpads",
        "operationId": "launchpadsQuery",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get launchpads successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launchpad"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/mission/{id}": {
      "get": {
        "description": "get mission",
        "operationId": "missionQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get mission successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mission"
                }
              }
            }
          }
        }
      }
    },
    "/rest/missions": {
      "get": {
        "description": "get missions",
        "operationId": "missionsQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MissionsFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get missions successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mission"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/missions-result": {
      "get": {
        "description": "get missions-result",
        "operationId": "missionsResultQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MissionsFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get missions-result successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MissionResult"
                }
              }
            }
          }
        }
      }
    },
    "/rest/payload/{id}": {
      "get": {
        "description": "get payload",
        "operationId": "payloadQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get payload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payload"
                }
              }
            }
          }
        }
      }
    },
    "/rest/payloads": {
      "get": {
        "description": "get payloads",
        "operationId": "payloadsQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PayloadsFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get payloads successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payload"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/roadster": {
      "get": {
        "description": "get roadster",
        "operationId": "roadsterQuery",
        "parameters": [],
        "responses": {
          "200": {
            "description": "get roadster successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Roadster"
                }
              }
            }
          }
        }
      }
    },
    "/rest/rocket/{id}": {
      "get": {
        "description": "get rocket",
        "operationId": "rocketQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get rocket successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rocket"
                }
              }
            }
          }
        }
      }
    },
    "/rest/rockets": {
      "get": {
        "description": "get rockets",
        "operationId": "rocketsQuery",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get rockets successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rocket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/rockets-result": {
      "get": {
        "description": "get rockets-result",
        "operationId": "rocketsResultQuery",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get rockets-result successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RocketsResult"
                }
              }
            }
          }
        }
      }
    },
    "/rest/ship/{id}": {
      "get": {
        "description": "get ship",
        "operationId": "shipQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get ship successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ship"
                }
              }
            }
          }
        }
      }
    },
    "/rest/ships": {
      "get": {
        "description": "get ships",
        "operationId": "shipsQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ShipsFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get ships successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ship"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/ships-result": {
      "get": {
        "description": "get ships-result",
        "operationId": "shipsResultQuery",
        "parameters": [
          {
            "in": "query",
            "name": "find",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ShipsFind"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get ships-result successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipsResult"
                }
              }
            }
          }
        }
      }
    },
    "/rest/users": {
      "get": {
        "description": "get user",
        "operationId": "usersQuery",
        "parameters": [
          {
            "in": "query",
            "name": "distinctOn",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/users_select_column"
              }
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/users_order_by"
              }
            }
          },
          {
            "in": "query",
            "name": "where",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/users_bool_exp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get user successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/users"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/users-aggregate": {
      "get": {
        "description": "get users-aggregate",
        "operationId": "usersAggregateQuery",
        "parameters": [
          {
            "in": "query",
            "name": "distinctOn",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/users_select_column"
              }
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/users_order_by"
              }
            }
          },
          {
            "in": "query",
            "name": "where",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/users_bool_exp"
            }
          },
          {
            "in": "query",
            "name": "usersAggregateAggregateAggregateCountColumns",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/users_select_column"
              }
            }
          },
          {
            "in": "query",
            "name": "usersAggregateAggregateAggregateCountDistinct",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get users-aggregate successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/users_aggregate"
                }
              }
            }
          }
        }
      }
    },
    "/rest/users-by-pk/{id}": {
      "get": {
        "description": "get users-by-pk",
        "operationId": "usersByPkQuery",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get users-by-pk successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/users"
                }
              }
            }
          }
        }
      }
    },
    "/rest/delete-users": {
      "post": {
        "description": "delete delete-users",
        "operationId": "deleteUsersMutation",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["where"],
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/users_bool_exp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "delete delete-users successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/users_mutation_response"
                }
              }
            }
          }
        }
      }
    },
    "/rest/insert-users": {
      "post": {
        "description": "post insert-users",
        "operationId": "insertUsersMutation",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["objects"],
                "properties": {
                  "objects": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/users_insert_input"
                    }
                  },
                  "on_conflict": {
                    "$ref": "#/components/schemas/users_on_conflict"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "post insert-users successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/users_mutation_response"
                }
              }
            }
          }
        }
      }
    },
    "/rest/update-users": {
      "post": {
        "description": "post update-users",
        "operationId": "updateUsersMutation",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["where"],
                "properties": {
                  "_set": {
                    "$ref": "#/components/schemas/users_set_input"
                  },
                  "where": {
                    "$ref": "#/components/schemas/users_bool_exp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "post update-users successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/users_mutation_response"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Query": {
        "type": "object",
        "required": ["users", "users_aggregate"],
        "properties": {
          "capsule": {
            "$ref": "#/components/schemas/Capsule"
          },
          "capsules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Capsule"
            }
          },
          "capsulesPast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Capsule"
            }
          },
          "capsulesUpcoming": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Capsule"
            }
          },
          "company": {
            "$ref": "#/components/schemas/Info"
          },
          "core": {
            "$ref": "#/components/schemas/Core"
          },
          "cores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Core"
            }
          },
          "coresPast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Core"
            }
          },
          "coresUpcoming": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Core"
            }
          },
          "dragon": {
            "$ref": "#/components/schemas/Dragon"
          },
          "dragons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dragon"
            }
          },
          "histories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/History"
            }
          },
          "historiesResult": {
            "$ref": "#/components/schemas/HistoriesResult"
          },
          "history": {
            "$ref": "#/components/schemas/History"
          },
          "landpad": {
            "$ref": "#/components/schemas/Landpad"
          },
          "landpads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Landpad"
            }
          },
          "launch": {
            "$ref": "#/components/schemas/Launch"
          },
          "launchLatest": {
            "$ref": "#/components/schemas/Launch"
          },
          "launchNext": {
            "$ref": "#/components/schemas/Launch"
          },
          "launches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Launch"
            }
          },
          "launchesPast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Launch"
            }
          },
          "launchesPastResult": {
            "$ref": "#/components/schemas/LaunchesPastResult"
          },
          "launchesUpcoming": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Launch"
            }
          },
          "launchpad": {
            "$ref": "#/components/schemas/Launchpad"
          },
          "launchpads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Launchpad"
            }
          },
          "mission": {
            "$ref": "#/components/schemas/Mission"
          },
          "missions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mission"
            }
          },
          "missionsResult": {
            "$ref": "#/components/schemas/MissionResult"
          },
          "payload": {
            "$ref": "#/components/schemas/Payload"
          },
          "payloads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payload"
            }
          },
          "roadster": {
            "$ref": "#/components/schemas/Roadster"
          },
          "rocket": {
            "$ref": "#/components/schemas/Rocket"
          },
          "rockets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rocket"
            }
          },
          "rocketsResult": {
            "$ref": "#/components/schemas/RocketsResult"
          },
          "ship": {
            "$ref": "#/components/schemas/Ship"
          },
          "ships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ship"
            }
          },
          "shipsResult": {
            "$ref": "#/components/schemas/ShipsResult"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/users"
            }
          },
          "users_aggregate": {
            "$ref": "#/components/schemas/users_aggregate"
          },
          "users_by_pk": {
            "$ref": "#/components/schemas/users"
          }
        }
      },
      "Capsule": {
        "type": "object",
        "required": [],
        "properties": {
          "id": {
            "type": "object"
          },
          "landings": {
            "type": "integer",
            "format": "int32"
          },
          "missions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CapsuleMission"
            }
          },
          "original_launch": {
            "type": "object"
          },
          "reuse_count": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "dragon": {
            "$ref": "#/components/schemas/Dragon"
          }
        }
      },
      "CapsuleMission": {
        "type": "object",
        "required": [],
        "properties": {
          "flight": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Dragon": {
        "type": "object",
        "required": [],
        "properties": {
          "active": {
            "type": "boolean"
          },
          "crew_capacity": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string"
          },
          "diameter": {
            "$ref": "#/components/schemas/Distance"
          },
          "dry_mass_kg": {
            "type": "integer",
            "format": "int32"
          },
          "dry_mass_lb": {
            "type": "integer",
            "format": "int32"
          },
          "first_flight": {
            "type": "string"
          },
          "heat_shield": {
            "$ref": "#/components/schemas/DragonHeatShield"
          },
          "height_w_trunk": {
            "$ref": "#/components/schemas/Distance"
          },
          "id": {
            "type": "object"
          },
          "launch_payload_mass": {
            "$ref": "#/components/schemas/Mass"
          },
          "launch_payload_vol": {
            "$ref": "#/components/schemas/Volume"
          },
          "name": {
            "type": "string"
          },
          "orbit_duration_yr": {
            "type": "integer",
            "format": "int32"
          },
          "pressurized_capsule": {
            "$ref": "#/components/schemas/DragonPressurizedCapsule"
          },
          "return_payload_mass": {
            "$ref": "#/components/schemas/Mass"
          },
          "return_payload_vol": {
            "$ref": "#/components/schemas/Volume"
          },
          "sidewall_angle_deg": {
            "type": "number",
            "format": "float"
          },
          "thrusters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DragonThrust"
            }
          },
          "trunk": {
            "$ref": "#/components/schemas/DragonTrunk"
          },
          "type": {
            "type": "string"
          },
          "wikipedia": {
            "type": "string"
          }
        }
      },
      "Distance": {
        "type": "object",
        "required": [],
        "properties": {
          "feet": {
            "type": "number",
            "format": "float"
          },
          "meters": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "DragonHeatShield": {
        "type": "object",
        "required": [],
        "properties": {
          "dev_partner": {
            "type": "string"
          },
          "material": {
            "type": "string"
          },
          "size_meters": {
            "type": "number",
            "format": "float"
          },
          "temp_degrees": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Mass": {
        "type": "object",
        "required": [],
        "properties": {
          "kg": {
            "type": "integer",
            "format": "int32"
          },
          "lb": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Volume": {
        "type": "object",
        "required": [],
        "properties": {
          "cubic_feet": {
            "type": "integer",
            "format": "int32"
          },
          "cubic_meters": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "DragonPressurizedCapsule": {
        "type": "object",
        "required": [],
        "properties": {
          "payload_volume": {
            "$ref": "#/components/schemas/Volume"
          }
        }
      },
      "DragonThrust": {
        "type": "object",
        "required": [],
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int32"
          },
          "fuel_1": {
            "type": "string"
          },
          "fuel_2": {
            "type": "string"
          },
          "pods": {
            "type": "integer",
            "format": "int32"
          },
          "thrust": {
            "$ref": "#/components/schemas/Force"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Force": {
        "type": "object",
        "required": [],
        "properties": {
          "kN": {
            "type": "number",
            "format": "float"
          },
          "lbf": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "DragonTrunk": {
        "type": "object",
        "required": [],
        "properties": {
          "cargo": {
            "$ref": "#/components/schemas/DragonTrunkCargo"
          },
          "trunk_volume": {
            "$ref": "#/components/schemas/Volume"
          }
        }
      },
      "DragonTrunkCargo": {
        "type": "object",
        "required": [],
        "properties": {
          "solar_array": {
            "type": "integer",
            "format": "int32"
          },
          "unpressurized_cargo": {
            "type": "boolean"
          }
        }
      },
      "CapsulesFind": {
        "type": "object",
        "required": [],
        "properties": {
          "id": {
            "type": "object"
          },
          "landings": {
            "type": "integer",
            "format": "int32"
          },
          "mission": {
            "type": "string"
          },
          "original_launch": {
            "type": "object"
          },
          "reuse_count": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Info": {
        "type": "object",
        "required": [],
        "properties": {
          "ceo": {
            "type": "string"
          },
          "coo": {
            "type": "string"
          },
          "cto_propulsion": {
            "type": "string"
          },
          "cto": {
            "type": "string"
          },
          "employees": {
            "type": "integer",
            "format": "int32"
          },
          "founded": {
            "type": "integer",
            "format": "int32"
          },
          "founder": {
            "type": "string"
          },
          "headquarters": {
            "$ref": "#/components/schemas/Address"
          },
          "launch_sites": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "$ref": "#/components/schemas/InfoLinks"
          },
          "name": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "test_sites": {
            "type": "integer",
            "format": "int32"
          },
          "valuation": {
            "type": "number",
            "format": "float"
          },
          "vehicles": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Address": {
        "type": "object",
        "required": [],
        "properties": {
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "ID": {
        "type": "string",
        "required": []
      },
      "InfoLinks": {
        "type": "object",
        "required": [],
        "properties": {
          "elon_twitter": {
            "type": "string"
          },
          "flickr": {
            "type": "string"
          },
          "twitter": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        }
      },
      "Core": {
        "type": "object",
        "required": [],
        "properties": {
          "asds_attempts": {
            "type": "integer",
            "format": "int32"
          },
          "asds_landings": {
            "type": "integer",
            "format": "int32"
          },
          "block": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "object"
          },
          "missions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CapsuleMission"
            }
          },
          "original_launch": {
            "type": "object"
          },
          "reuse_count": {
            "type": "integer",
            "format": "int32"
          },
          "rtls_attempts": {
            "type": "integer",
            "format": "int32"
          },
          "rtls_landings": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string"
          },
          "water_landing": {
            "type": "boolean"
          }
        }
      },
      "CoresFind": {
        "type": "object",
        "required": [],
        "properties": {
          "asds_attempts": {
            "type": "integer",
            "format": "int32"
          },
          "asds_landings": {
            "type": "integer",
            "format": "int32"
          },
          "block": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "string"
          },
          "missions": {
            "type": "string"
          },
          "original_launch": {
            "type": "object"
          },
          "reuse_count": {
            "type": "integer",
            "format": "int32"
          },
          "rtls_attempts": {
            "type": "integer",
            "format": "int32"
          },
          "rtls_landings": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string"
          },
          "water_landing": {
            "type": "boolean"
          }
        }
      },
      "HistoryFind": {
        "type": "object",
        "required": [],
        "properties": {
          "end": {
            "type": "object"
          },
          "flight_number": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "object"
          },
          "start": {
            "type": "object"
          }
        }
      },
      "History": {
        "type": "object",
        "required": [],
        "properties": {
          "details": {
            "type": "string"
          },
          "event_date_unix": {
            "type": "object"
          },
          "event_date_utc": {
            "type": "object"
          },
          "id": {
            "type": "object"
          },
          "links": {
            "$ref": "#/components/schemas/Link"
          },
          "title": {
            "type": "string"
          },
          "flight": {
            "$ref": "#/components/schemas/Launch"
          }
        }
      },
      "Link": {
        "type": "object",
        "required": [],
        "properties": {
          "article": {
            "type": "string"
          },
          "reddit": {
            "type": "string"
          },
          "wikipedia": {
            "type": "string"
          }
        }
      },
      "Launch": {
        "type": "object",
        "required": [],
        "properties": {
          "details": {
            "type": "string"
          },
          "id": {
            "type": "object"
          },
          "is_tentative": {
            "type": "boolean"
          },
          "launch_date_local": {
            "type": "object"
          },
          "launch_date_unix": {
            "type": "object"
          },
          "launch_date_utc": {
            "type": "object"
          },
          "launch_site": {
            "$ref": "#/components/schemas/LaunchSite"
          },
          "launch_success": {
            "type": "boolean"
          },
          "launch_year": {
            "type": "string"
          },
          "links": {
            "$ref": "#/components/schemas/LaunchLinks"
          },
          "mission_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mission_name": {
            "type": "string"
          },
          "rocket": {
            "$ref": "#/components/schemas/LaunchRocket"
          },
          "static_fire_date_unix": {
            "type": "object"
          },
          "static_fire_date_utc": {
            "type": "object"
          },
          "telemetry": {
            "$ref": "#/components/schemas/LaunchTelemetry"
          },
          "tentative_max_precision": {
            "type": "string"
          },
          "upcoming": {
            "type": "boolean"
          },
          "ships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ship"
            }
          }
        }
      },
      "LaunchSite": {
        "type": "object",
        "required": [],
        "properties": {
          "site_id": {
            "type": "string"
          },
          "site_name_long": {
            "type": "string"
          },
          "site_name": {
            "type": "string"
          }
        }
      },
      "LaunchLinks": {
        "type": "object",
        "required": [],
        "properties": {
          "article_link": {
            "type": "string"
          },
          "flickr_images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mission_patch_small": {
            "type": "string"
          },
          "mission_patch": {
            "type": "string"
          },
          "presskit": {
            "type": "string"
          },
          "reddit_campaign": {
            "type": "string"
          },
          "reddit_launch": {
            "type": "string"
          },
          "reddit_media": {
            "type": "string"
          },
          "reddit_recovery": {
            "type": "string"
          },
          "video_link": {
            "type": "string"
          },
          "wikipedia": {
            "type": "string"
          }
        }
      },
      "LaunchRocket": {
        "type": "object",
        "required": [],
        "properties": {
          "fairings": {
            "$ref": "#/components/schemas/LaunchRocketFairings"
          },
          "first_stage": {
            "$ref": "#/components/schemas/LaunchRocketFirstStage"
          },
          "rocket_name": {
            "type": "string"
          },
          "rocket_type": {
            "type": "string"
          },
          "rocket": {
            "$ref": "#/components/schemas/Rocket"
          },
          "second_stage": {
            "$ref": "#/components/schemas/LaunchRocketSecondStage"
          }
        }
      },
      "LaunchRocketFairings": {
        "type": "object",
        "required": [],
        "properties": {
          "recovered": {
            "type": "boolean"
          },
          "recovery_attempt": {
            "type": "boolean"
          },
          "reused": {
            "type": "boolean"
          },
          "ship": {
            "type": "string"
          }
        }
      },
      "LaunchRocketFirstStage": {
        "type": "object",
        "required": [],
        "properties": {
          "cores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LaunchRocketFirstStageCore"
            }
          }
        }
      },
      "LaunchRocketFirstStageCore": {
        "type": "object",
        "required": [],
        "properties": {
          "block": {
            "type": "integer",
            "format": "int32"
          },
          "core": {
            "$ref": "#/components/schemas/Core"
          },
          "flight": {
            "type": "integer",
            "format": "int32"
          },
          "gridfins": {
            "type": "boolean"
          },
          "land_success": {
            "type": "boolean"
          },
          "landing_intent": {
            "type": "boolean"
          },
          "landing_type": {
            "type": "string"
          },
          "landing_vehicle": {
            "type": "string"
          },
          "legs": {
            "type": "boolean"
          },
          "reused": {
            "type": "boolean"
          }
        }
      },
      "Rocket": {
        "type": "object",
        "required": [],
        "properties": {
          "active": {
            "type": "boolean"
          },
          "boosters": {
            "type": "integer",
            "format": "int32"
          },
          "company": {
            "type": "string"
          },
          "cost_per_launch": {
            "type": "integer",
            "format": "int32"
          },
          "country": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "diameter": {
            "$ref": "#/components/schemas/Distance"
          },
          "engines": {
            "$ref": "#/components/schemas/RocketEngines"
          },
          "first_flight": {
            "type": "object"
          },
          "first_stage": {
            "$ref": "#/components/schemas/RocketFirstStage"
          },
          "height": {
            "$ref": "#/components/schemas/Distance"
          },
          "id": {
            "type": "object"
          },
          "landing_legs": {
            "$ref": "#/components/schemas/RocketLandingLegs"
          },
          "mass": {
            "$ref": "#/components/schemas/Mass"
          },
          "name": {
            "type": "string"
          },
          "payload_weights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RocketPayloadWeight"
            }
          },
          "second_stage": {
            "$ref": "#/components/schemas/RocketSecondStage"
          },
          "stages": {
            "type": "integer",
            "format": "int32"
          },
          "success_rate_pct": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          },
          "wikipedia": {
            "type": "string"
          }
        }
      },
      "RocketEngines": {
        "type": "object",
        "required": [],
        "properties": {
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "engine_loss_max": {
            "type": "string"
          },
          "propellant_1": {
            "type": "string"
          },
          "propellant_2": {
            "type": "string"
          },
          "thrust_sea_level": {
            "$ref": "#/components/schemas/Force"
          },
          "thrust_vacuum": {
            "$ref": "#/components/schemas/Force"
          },
          "thrust_to_weight": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "RocketFirstStage": {
        "type": "object",
        "required": [],
        "properties": {
          "burn_time_sec": {
            "type": "integer",
            "format": "int32"
          },
          "engines": {
            "type": "integer",
            "format": "int32"
          },
          "fuel_amount_tons": {
            "type": "number",
            "format": "float"
          },
          "reusable": {
            "type": "boolean"
          },
          "thrust_sea_level": {
            "$ref": "#/components/schemas/Force"
          },
          "thrust_vacuum": {
            "$ref": "#/components/schemas/Force"
          }
        }
      },
      "RocketLandingLegs": {
        "type": "object",
        "required": [],
        "properties": {
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "material": {
            "type": "string"
          }
        }
      },
      "RocketPayloadWeight": {
        "type": "object",
        "required": [],
        "properties": {
          "id": {
            "type": "string"
          },
          "kg": {
            "type": "integer",
            "format": "int32"
          },
          "lb": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "RocketSecondStage": {
        "type": "object",
        "required": [],
        "properties": {
          "burn_time_sec": {
            "type": "integer",
            "format": "int32"
          },
          "engines": {
            "type": "integer",
            "format": "int32"
          },
          "fuel_amount_tons": {
            "type": "number",
            "format": "float"
          },
          "payloads": {
            "$ref": "#/components/schemas/RocketSecondStagePayloads"
          },
          "thrust": {
            "$ref": "#/components/schemas/Force"
          }
        }
      },
      "RocketSecondStagePayloads": {
        "type": "object",
        "required": [],
        "properties": {
          "option_1": {
            "type": "string"
          },
          "composite_fairing": {
            "$ref": "#/components/schemas/RocketSecondStagePayloadCompositeFairing"
          }
        }
      },
      "RocketSecondStagePayloadCompositeFairing": {
        "type": "object",
        "required": [],
        "properties": {
          "height": {
            "$ref": "#/components/schemas/Distance"
          },
          "diameter": {
            "$ref": "#/components/schemas/Distance"
          }
        }
      },
      "LaunchRocketSecondStage": {
        "type": "object",
        "required": [],
        "properties": {
          "block": {
            "type": "integer",
            "format": "int32"
          },
          "payloads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payload"
            }
          }
        }
      },
      "Payload": {
        "type": "object",
        "required": [],
        "properties": {
          "customers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "object"
          },
          "manufacturer": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "norad_id": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "orbit_params": {
            "$ref": "#/components/schemas/PayloadOrbitParams"
          },
          "orbit": {
            "type": "string"
          },
          "payload_mass_kg": {
            "type": "number",
            "format": "float"
          },
          "payload_mass_lbs": {
            "type": "number",
            "format": "float"
          },
          "payload_type": {
            "type": "string"
          },
          "reused": {
            "type": "boolean"
          }
        }
      },
      "PayloadOrbitParams": {
        "type": "object",
        "required": [],
        "properties": {
          "apoapsis_km": {
            "type": "number",
            "format": "float"
          },
          "arg_of_pericenter": {
            "type": "number",
            "format": "float"
          },
          "eccentricity": {
            "type": "number",
            "format": "float"
          },
          "epoch": {
            "type": "object"
          },
          "inclination_deg": {
            "type": "number",
            "format": "float"
          },
          "lifespan_years": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "mean_anomaly": {
            "type": "number",
            "format": "float"
          },
          "mean_motion": {
            "type": "number",
            "format": "float"
          },
          "periapsis_km": {
            "type": "number",
            "format": "float"
          },
          "period_min": {
            "type": "number",
            "format": "float"
          },
          "raan": {
            "type": "number",
            "format": "float"
          },
          "reference_system": {
            "type": "string"
          },
          "regime": {
            "type": "string"
          },
          "semi_major_axis_km": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "LaunchTelemetry": {
        "type": "object",
        "required": [],
        "properties": {
          "flight_club": {
            "type": "string"
          }
        }
      },
      "Ship": {
        "type": "object",
        "required": [],
        "properties": {
          "abs": {
            "type": "integer",
            "format": "int32"
          },
          "active": {
            "type": "boolean"
          },
          "attempted_landings": {
            "type": "integer",
            "format": "int32"
          },
          "class": {
            "type": "integer",
            "format": "int32"
          },
          "course_deg": {
            "type": "integer",
            "format": "int32"
          },
          "home_port": {
            "type": "string"
          },
          "id": {
            "type": "object"
          },
          "image": {
            "type": "string"
          },
          "imo": {
            "type": "integer",
            "format": "int32"
          },
          "missions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShipMission"
            }
          },
          "mmsi": {
            "type": "integer",
            "format": "int32"
          },
          "model": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "$ref": "#/components/schemas/ShipLocation"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "speed_kn": {
            "type": "number",
            "format": "float"
          },
          "status": {
            "type": "string"
          },
          "successful_landings": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "weight_kg": {
            "type": "integer",
            "format": "int32"
          },
          "weight_lbs": {
            "type": "integer",
            "format": "int32"
          },
          "year_built": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ShipMission": {
        "type": "object",
        "required": [],
        "properties": {
          "flight": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ShipLocation": {
        "type": "object",
        "required": [],
        "properties": {
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "HistoriesResult": {
        "type": "object",
        "required": [],
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/History"
            }
          }
        }
      },
      "Result": {
        "type": "object",
        "required": [],
        "properties": {
          "totalCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Landpad": {
        "type": "object",
        "required": [],
        "properties": {
          "attempted_landings": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "id": {
            "type": "object"
          },
          "landing_type": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "status": {
            "type": "string"
          },
          "successful_landings": {
            "type": "string"
          },
          "wikipedia": {
            "type": "string"
          }
        }
      },
      "Location": {
        "type": "object",
        "required": [],
        "properties": {
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        }
      },
      "LaunchFind": {
        "type": "object",
        "required": [],
        "properties": {
          "apoapsis_km": {
            "type": "number",
            "format": "float"
          },
          "block": {
            "type": "integer",
            "format": "int32"
          },
          "cap_serial": {
            "type": "string"
          },
          "capsule_reuse": {
            "type": "string"
          },
          "core_flight": {
            "type": "integer",
            "format": "int32"
          },
          "core_reuse": {
            "type": "string"
          },
          "core_serial": {
            "type": "string"
          },
          "customer": {
            "type": "string"
          },
          "eccentricity": {
            "type": "number",
            "format": "float"
          },
          "end": {
            "type": "object"
          },
          "epoch": {
            "type": "object"
          },
          "fairings_recovered": {
            "type": "string"
          },
          "fairings_recovery_attempt": {
            "type": "string"
          },
          "fairings_reuse": {
            "type": "string"
          },
          "fairings_reused": {
            "type": "string"
          },
          "fairings_ship": {
            "type": "string"
          },
          "gridfins": {
            "type": "string"
          },
          "id": {
            "type": "object"
          },
          "inclination_deg": {
            "type": "number",
            "format": "float"
          },
          "land_success": {
            "type": "string"
          },
          "landing_intent": {
            "type": "string"
          },
          "landing_type": {
            "type": "string"
          },
          "landing_vehicle": {
            "type": "string"
          },
          "launch_date_local": {
            "type": "object"
          },
          "launch_date_utc": {
            "type": "object"
          },
          "launch_success": {
            "type": "string"
          },
          "launch_year": {
            "type": "string"
          },
          "legs": {
            "type": "string"
          },
          "lifespan_years": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "manufacturer": {
            "type": "string"
          },
          "mean_motion": {
            "type": "number",
            "format": "float"
          },
          "mission_id": {
            "type": "string"
          },
          "mission_name": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "norad_id": {
            "type": "integer",
            "format": "int32"
          },
          "orbit": {
            "type": "string"
          },
          "payload_id": {
            "type": "string"
          },
          "payload_type": {
            "type": "string"
          },
          "periapsis_km": {
            "type": "number",
            "format": "float"
          },
          "period_min": {
            "type": "number",
            "format": "float"
          },
          "raan": {
            "type": "number",
            "format": "float"
          },
          "reference_system": {
            "type": "string"
          },
          "regime": {
            "type": "string"
          },
          "reused": {
            "type": "string"
          },
          "rocket_id": {
            "type": "string"
          },
          "rocket_name": {
            "type": "string"
          },
          "rocket_type": {
            "type": "string"
          },
          "second_stage_block": {
            "type": "string"
          },
          "semi_major_axis_km": {
            "type": "number",
            "format": "float"
          },
          "ship": {
            "type": "string"
          },
          "side_core1_reuse": {
            "type": "string"
          },
          "side_core2_reuse": {
            "type": "string"
          },
          "site_id": {
            "type": "string"
          },
          "site_name_long": {
            "type": "string"
          },
          "site_name": {
            "type": "string"
          },
          "start": {
            "type": "object"
          },
          "tbd": {
            "type": "string"
          },
          "tentative_max_precision": {
            "type": "string"
          },
          "tentative": {
            "type": "string"
          }
        }
      },
      "LaunchesPastResult": {
        "type": "object",
        "required": [],
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Launch"
            }
          }
        }
      },
      "Launchpad": {
        "type": "object",
        "required": [],
        "properties": {
          "attempted_launches": {
            "type": "integer",
            "format": "int32"
          },
          "details": {
            "type": "string"
          },
          "id": {
            "type": "object"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "successful_launches": {
            "type": "integer",
            "format": "int32"
          },
          "vehicles_launched": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rocket"
            }
          },
          "wikipedia": {
            "type": "string"
          }
        }
      },
      "Mission": {
        "type": "object",
        "required": [],
        "properties": {
          "description": {
            "type": "string"
          },
          "id": {
            "type": "object"
          },
          "manufacturers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "name": {
            "type": "string"
          },
          "twitter": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "wikipedia": {
            "type": "string"
          },
          "payloads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payload"
            }
          }
        }
      },
      "MissionsFind": {
        "type": "object",
        "required": [],
        "properties": {
          "id": {
            "type": "object"
          },
          "manufacturer": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "payload_id": {
            "type": "string"
          }
        }
      },
      "MissionResult": {
        "type": "object",
        "required": [],
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mission"
            }
          }
        }
      },
      "PayloadsFind": {
        "type": "object",
        "required": [],
        "properties": {
          "apoapsis_km": {
            "type": "number",
            "format": "float"
          },
          "customer": {
            "type": "string"
          },
          "eccentricity": {
            "type": "number",
            "format": "float"
          },
          "epoch": {
            "type": "object"
          },
          "inclination_deg": {
            "type": "number",
            "format": "float"
          },
          "lifespan_years": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "manufacturer": {
            "type": "string"
          },
          "mean_motion": {
            "type": "number",
            "format": "float"
          },
          "nationality": {
            "type": "string"
          },
          "norad_id": {
            "type": "integer",
            "format": "int32"
          },
          "orbit": {
            "type": "string"
          },
          "payload_id": {
            "type": "object"
          },
          "payload_type": {
            "type": "string"
          },
          "periapsis_km": {
            "type": "number",
            "format": "float"
          },
          "period_min": {
            "type": "number",
            "format": "float"
          },
          "raan": {
            "type": "number",
            "format": "float"
          },
          "reference_system": {
            "type": "string"
          },
          "regime": {
            "type": "string"
          },
          "reused": {
            "type": "boolean"
          },
          "semi_major_axis_km": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "Roadster": {
        "type": "object",
        "required": [],
        "properties": {
          "apoapsis_au": {
            "type": "number",
            "format": "float"
          },
          "details": {
            "type": "string"
          },
          "earth_distance_km": {
            "type": "number",
            "format": "float"
          },
          "earth_distance_mi": {
            "type": "number",
            "format": "float"
          },
          "eccentricity": {
            "type": "number",
            "format": "float"
          },
          "epoch_jd": {
            "type": "number",
            "format": "float"
          },
          "inclination": {
            "type": "number",
            "format": "float"
          },
          "launch_date_unix": {
            "type": "object"
          },
          "launch_date_utc": {
            "type": "object"
          },
          "launch_mass_kg": {
            "type": "integer",
            "format": "int32"
          },
          "launch_mass_lbs": {
            "type": "integer",
            "format": "int32"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "mars_distance_km": {
            "type": "number",
            "format": "float"
          },
          "mars_distance_mi": {
            "type": "number",
            "format": "float"
          },
          "name": {
            "type": "string"
          },
          "norad_id": {
            "type": "integer",
            "format": "int32"
          },
          "orbit_type": {
            "type": "number",
            "format": "float"
          },
          "periapsis_arg": {
            "type": "number",
            "format": "float"
          },
          "periapsis_au": {
            "type": "number",
            "format": "float"
          },
          "period_days": {
            "type": "number",
            "format": "float"
          },
          "semi_major_axis_au": {
            "type": "number",
            "format": "float"
          },
          "speed_kph": {
            "type": "number",
            "format": "float"
          },
          "speed_mph": {
            "type": "number",
            "format": "float"
          },
          "wikipedia": {
            "type": "string"
          }
        }
      },
      "RocketsResult": {
        "type": "object",
        "required": [],
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rocket"
            }
          }
        }
      },
      "ShipsFind": {
        "type": "object",
        "required": [],
        "properties": {
          "id": {
            "type": "object"
          },
          "name": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "imo": {
            "type": "integer",
            "format": "int32"
          },
          "mmsi": {
            "type": "integer",
            "format": "int32"
          },
          "abs": {
            "type": "integer",
            "format": "int32"
          },
          "class": {
            "type": "integer",
            "format": "int32"
          },
          "weight_lbs": {
            "type": "integer",
            "format": "int32"
          },
          "weight_kg": {
            "type": "integer",
            "format": "int32"
          },
          "year_built": {
            "type": "integer",
            "format": "int32"
          },
          "home_port": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "speed_kn": {
            "type": "integer",
            "format": "int32"
          },
          "course_deg": {
            "type": "integer",
            "format": "int32"
          },
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "successful_landings": {
            "type": "integer",
            "format": "int32"
          },
          "attempted_landings": {
            "type": "integer",
            "format": "int32"
          },
          "mission": {
            "type": "string"
          }
        }
      },
      "ShipsResult": {
        "type": "object",
        "required": [],
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ship"
            }
          }
        }
      },
      "users_select_column": {
        "type": "object",
        "required": [],
        "properties": {
          "id": {
            "type": "object"
          },
          "name": {
            "type": "object"
          },
          "rocket": {
            "type": "object"
          },
          "timestamp": {
            "type": "object"
          },
          "twitter": {
            "type": "object"
          }
        }
      },
      "users_order_by": {
        "type": "object",
        "required": [],
        "properties": {
          "id": {
            "type": "object"
          },
          "name": {
            "type": "object"
          },
          "rocket": {
            "type": "object"
          },
          "timestamp": {
            "type": "object"
          },
          "twitter": {
            "type": "object"
          }
        }
      },
      "users_bool_exp": {
        "type": "object",
        "required": [],
        "properties": {
          "_and": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "_not": {
            "type": "object"
          },
          "_or": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "object"
          },
          "name": {
[...]
